.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 100px;
    margin-right: auto;
    margin-left: auto;
}


[role="main"] {
    padding-top: 133px; /* Space for fixed navbar */
}